.about-me {
    padding-top: 1rem;
    border-top: solid var(--border-primary) 3px;
}

.about-main p {
    max-width: 85ch;
}

.about-sect-sub-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    background-color: var(--bg-card);
    border-radius: 10px;
    padding: 25px;
    margin-top: 3rem;
}

.sub-sec {  
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    align-content: start;
    gap: 10px;
}

.strength-card-symbol {
    grid-area: 1 / 1 / 2 / 2;
    color: var(--accent-soft);
}

.sub-sec h3 {
    margin: 0;
    padding: 0 5px 0 0;
    grid-area: 1 / 2 / 2 / 3;
}

.sub-sec p {
    grid-area: 2 / 1 / 3 / 3;
}

.link-to-case-study {
    grid-area: 3 / 1 / 4 / 3;
    text-align: end;
}

@media (max-width: 990px) {
    .about-sect-sub-containers {
        padding: 15px;
        gap: 25px;
    }
}

@media (max-width: 780px) {
    .about-sect-sub-containers {
        grid-template-columns: auto;
        max-width: 50ch;
        margin-inline: auto;
        padding-inline: 15px;
        padding-block: 25px;
        gap: 15px;
    }

    .sub-sec p {
        padding: 0;
        margin: 0;
    }
}
