.tech-stack {
    padding-top: 1rem;
}

.tech-sub-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.tech-sub {
    display: flex;
    flex-direction: column;
}

.tech-sub ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 1rem 0 0;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.8rem;
    flex-grow: 1;
}

.tech-sub:not(:last-child)  ul{
    border-right: solid var(--border-primary) 2px;
}

.tech-sub li {
    padding: 7px 15px;
    border-radius: 5px;
    border: var(--border-primary) solid 2px;
    background-color: var(--bg-card);
    color: var(--text-secondary);
}

@media (max-width: 990px) {
    .tech-sub-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .tech-sub:nth-child(3n) ul {
        border-right: none;
    }
}

@media (max-width: 525px) {
    .tech-sub-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .tech-stack .tech-sub ul{
        border-right: solid var(--border-primary) 2px;
    }

    .tech-sub:nth-child(2n) ul {
        border-right: none;
    }
}

@media (max-width: 355px) {
    .tech-sub-container {
        grid-template-columns: 1fr;
    }

    .tech-stack .tech-sub ul{
        border-right: none;
    }
}