.contact {
    display: flex;
    margin-block: 3rem;
    background-color: var(--bg-card);
    border-radius: 12px;
    border: var(--border-secondary) solid 1px;
    padding: 3rem 1.5rem;
    gap: 3rem;
}

.contact-content h2 {
    margin-block: 0;
}

.contact-content p {
    max-width: 60ch;
}

.contact-details {
    list-style: none;
    padding: 0;
}

.contact-details a {
    color: var(--accent-soft);
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-details .github-symbol {
    color: var(--text-muted);
}

.contact-form  input, .contact-form textarea {
    padding: 0.5rem;
    line-height: 1.5;
    font-size: 1rem;
    background-color: var(--input-bg);
    border: var(--input-border) solid 3px;
    border-radius: 7px;
    color: var(--text-secondary);
    font-family:
        "Inter",
        "Segoe UI",
        sans-serif;
    margin-top: 0.5rem;
}

.name-and-email {
    width: 100%;
    display: flex;
    gap: 0.7rem;
    margin-bottom: 0.7rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.subject, .text-area {
    width: 100%;
    margin-bottom: 0.7rem;
}

.submit-btn {
    font-family:
        "Inter",
        "Segoe UI",
        sans-serif;
    background-color: var(--button-bg);
    border: none;
    border-radius: 7px;
    color: var(--button-text);
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}