header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* justify-content: space-between; */
    align-items: center;
    height: 68px;
    padding-inline: 2rem;
    color: var(--text-primary);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: var(--bg-primary);
    background-color: rgb(5, 8, 22, 0.85);
    border-bottom: 2px var(--border-primary) solid;
}

#logo-name-link {
    justify-self: start;
}

.code-symbol {
    color: var(--accent-primary);
    margin-right: 30px;
    font-size: 1.5rem;
}

.logo-name {
    font-size: 1.2rem;
    font-weight: 500;
}

 /*need to be moved to navbar.css */

.header-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-self: end;
}

.social-link {
    display: flex;
    align-items: center;
    color: var(--text-muted);
}

.resume-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px var(--accent-primary);
    color: var(--accent-primary);
    border-radius: 5px;
    white-space: nowrap;
}

.menu-btn {
    display: none;
    border: none;
    margin-left: 10px;
    padding: 0;
    background: transparent;
    color: var(--text-muted);
    height: 40px;
    width: 40px;
}

@media (max-width: 1175px) {
    header {
        padding-inline: 1rem;
    }

    .code-symbol {
        margin-right: 15px;
    }

    .header-actions {
        gap: 15px;
    }
}

@media (max-width: 990px) {
    header {
        grid-template-columns: 1fr 1fr;
    }

    .social-link {
        display: none;
    }
    
    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 430px) {
    header {
        padding-inline: 0.5rem;
    }

    .code-symbol {
        color: var(--accent-primary);
        margin-right: 10px;
        font-size: 1.3rem;
    }

    .logo-name {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .header-actions {
        gap: 5px;
    }

    .resume-btn {
        padding: 7px;
        gap: 7px;
    }

    .view {
        display: none;
    }

    .menu-btn {
        margin: 0px;
    }
}