.navbar {
    height: 100%;
    display: flex;
    justify-self: center;
}

.navbar a {
    padding-inline: 20px;
    color: var(--text-muted);
    display: flex;
    align-items: center;
    border-bottom: solid 2px;
    border-color: transparent;
}

.navbar .active-tab {
    color: var(--accent-primary);
    border-color: var(--accent-primary);
}

@media (max-width: 1175px) {
    
    .navbar a {
        padding-inline: 10px;
    }
}

@media (max-width: 990px) {
    .navbar {
        display: none;
    }

    .navbar.open {
        display: flex;
        background-color: inherit;
        flex-direction: column;
        position: fixed;
        height: auto;
        width: auto;
        top: 68px;
        left: 0px;
        right: 0px;
        justify-self: stretch;
        border-bottom: 3px var(--border-primary) solid;
        box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.6);
    }

    .navbar.open a {
        height: 50px;
        padding-left: 15px;
    }

    .navbar.closed {
        display: none;
    }
}