.navbar {
    height: 100%;
    display: flex;
    justify-self: center;
}

.navbar a {
    padding-inline: 20px;
    color: var(--text-muted);
    display: flex;
    align-items: center;
    border-bottom: solid 2px;
    border-color: transparent;
}

.active-tab {
    color: var(--accent-primary);
    border-color: var(--accent-primary);
}

@media (max-width: 1175px) {
    
    .navbar a {
        padding-inline: 10px;
    }
}

@media (max-width: 990px) {
    .navbar {
        display: none;
    }

    .open {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -68px;
        width: 100vw;
    }

    .closed {
        display: none;
    }
}